.jumbotron {
    /*background: url('/assets/img/bahamas_cover.jpg') no-repeat center center;*/
    background-size: cover;
    height: 100vh;
    opacity: 0.8;
    color: seashell;
}


/* setting hero images for each page*/

.jumbotron.home {
    background: url('/assets/img/bahamas_cover.jpg') no-repeat center center;
}

.jumbotron.blog {
    background: url('/assets/img/bahamasbeach2.jpg') no-repeat center center;
}

.jumbotron.travel {
    background: url('/assets/img/bonaire2.jpg') no-repeat center center;
}

.container {
    border: 0.9px solid rgba(139, 245, 234, 0.808);
    background-color: rgba(30, 81, 116, 0.5);
    width: 50%;
    float: left;
    margin-left: 10rem;
    margin-top: 10rem;
}

p {
    display: block;
}

h3 {
    margin-top: 5rem;
}

h1 {
    font-size: 50px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.btn {
    margin-top: 1rem;
    background-color: rgba(30, 81, 116, 5.5);
    border-color: sandybrown;
}